.clearfix {
  *zoom: 1;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

*{
    -webkit-user-select: none; /*Chrome/ Safari/ Opear新版本*/
    -moz-user-select: none; /*Foxfire */
    -ms-user-select: none; /*Internet Explorer/ Edge*/
    -o-user-select: none; /*Opear老版本*/
    -khtml-user-select: none; /* Konqueror */
    -webkit-touch-callout: none; /* iOS Safari */
    user-select: none; /* Nonprefixed version, currently not supported by any browser */
}
body {
  background: #fff;
  font-family: Lato;
  -webkit-font-smoothing: antialiased;
  overflow-x:hidden;
  margin:0 0 0 20px;
}

ul{
  position: relative;
  padding: 0;
  list-style: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 20px;
  line-height: 40px;
  color: #555;
}

div {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 20px;
  line-height: 40px;
  color: #555;
}

img {
  width:100%;
  height:auto;
  border-radius: 1px;
  box-shadow: 0 0 0 4px #fff;
  cursor: pointer;
}

li {
  position: relative;
  margin: 2px;
  float: left;
}

li:before {
  content: "\2714";
  display: block;
  position: absolute;
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background:  #00c09e;
  border-radius: 50px;
  color: #fff;
  text-align: center;
  font-size: 16px;
  z-index: 10;
  opacity: 0;
  transition:         0.3s linear;
  -o-transition:      0.3s linear;
  -ms-transition:     0.3s linear;
  -moz-transition:    0.3s linear;
  -webkit-transition: 0.3s linear;
  -o-user-select:      none;
  -moz-user-select:    none;
  -webkit-user-select: none;
  cursor: pointer;
}

li.selected:before {
  opacity: 1;
}

li.selected img {
  box-shadow: 0 0 0 4px #00c09e;
}
.container{
    display:block;
    margin:0 15px;
}

.gendiv{
    position:fixed; 
    text-align:center; 
    bottom:3px;
    z-index:11;
    width:92%;
}

.generate{
    width:100%;
    cursor: pointer;
    background-color: green;
    color: white;
    padding: 15px 32px;
    display: inline-block;
    font-size: 35px;
    border-radius:5px;
}
.upgrade-img{
    width: 150px;
    height: 150px;
}
.upgrade-left{left: -55px;}

.upgrade-btn{
    color:#fff;
    background-color: green;
}